# Project dirs
geometry_opt/_hciscf_old

# Slurm files
submit.sh
*submit*.sh
slurm.out
.slurm.out

# Python files
__pycache__
*.pyc

# Dice files (in case they aren't cleaned up)
*.bkp
shci.e
*.dat
FCIDUMP
FCIDUMP_INITIAL
FCIDUMP_FINAL
spatial1RDM.0.0.txt
spatialRDM.0.0.txt
spin1RDM.0.0.txt

# Data directories/files
_molden
_data
_logs
_slurm
_figures
_chk
*_molden*
*_data*
*_logs*
*_slurm*
*_figures*
*_chk*
*.json
*.npy
*.out
*.chk

# VSCode
.vscode

# Gaussian files
*.log
*.cub
*.fchk
*.chk

# Images
*.png
*.html
*.pdf
